#***************************************************************************
#*   Copyright (C) 2013 by Volokh                                          *
#*   <volokh84@gmail.com>                                                  *
#*                                                                         *
#*   This program is under GPL 2 licence you may redistribute it and/or    *
#*   modify                                                                *
#*   Ligovskii Pr 203-207, StPetersburg, HomeWork, Russia                  *
#***************************************************************************

*.[oa]
.deps
.libs
*~
Makefile
Makefile.in
aclocal.m4
autogen*
ar-lib
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
ltmain.sh
missing
expansions.m4
libtool
*.la
*.lo
m4

cronyx.conf
cserial.h
cronyx.sh
sconfig